@import "~bootstrap/scss/bootstrap";

//css modules does not work in Stackblitz so applying rules here.
body {
  background-color: #323437;
}

.login-page {
  .form-card {
    width: 500px;

    .header {
      background-color: grey;
    }

    .form-text {
      min-height: 19px;
    }
  }
}

.typing-trainer {
  .timer {
    display: flex;
    justify-content: center;

    .digit {
      position: relative;
      display: flex;
      flex: 0 1 25%;
      font-size: 30px;
      background-color: #404549;
      border-radius: 5px;
      padding: 10px 12px;
      color: white;
      margin: 3px;

      &:after {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50%;
        bottom: 50%;
        content: "";
        width: "100%";
        height: 2px;
        background-color: #232323;
        opacity: 0.4;
      }
    }
    .colon {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;

      span {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #404549;
        border-radius: 6px;
        margin: 5px 0px;
      }
    }
  }

  .type-box {
    display: flex;
    justify-content: center;

    .type-container {
      display: inline-flex;
      align-items: flex-end;
      line-height: 1.5rem;
      font-size: 1.5rem;

      .correct {
        color: white;
      }
      .correct-space {
        background-color: unset;
      }
      .wrong {
        color: red;
      }
      .wrong-space {
        background-color: red;
      }
      .orig {
        color: gray;
      }
    }
  }

  .metrics {
    .label {
      color: gray;
    }

    .value {
      color: #e2b714;
    }
  }
}
