.record-list {
  h2 {
    color: gray;
    border-bottom: 3px solid gray;
    padding-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow: auto;
  }
  li {
    color: #e2b714;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  span:first-child {
    width: 250px;
  }
}
